extends layout

block content
	section#sidebar
		#top.scrollButton
			i.fa.fa-chevron-down.fa-3x
			// Trending Systems go here
		#systemStack
			artile#system1.tSystem
				h4.tSystemName placehold system 1
				p.tSystemDesc
					| This system is really cools.
				.tSystemFav
					p &#9825
			artile#system2.tSystem
				h4.tSystemName placehold system 2
				p.tSystemDesc
					| This system is really cools.
				.tSystemFav
					p &#9825
			artile#system3.tSystem
				h4.tSystemName placehold system 3
				p.tSystemDesc
					| This system is really cools.
				.tSystemFav
					p &#9825
			artile#system4.tSystem
				h4.tSystemName placehold system 4
				p.tSystemDesc
					| This system is really cools.
				.tSystemFav
					p &#9825
			artile#system5.tSystem
				h4.tSystemName placehold system 5
				p.tSystemDesc
					| This system is really cools.
				.tSystemFav
					p &#9825
			artile#system6.tSystem
				h4.tSystemName placehold system 6
				p.tSystemDesc
					| This system is really cools.
				.tSystemFav
					p &#9825
			artile#system7.tSystem
				h4.tSystemName placehold system 7
				p.tSystemDesc
					| This system is really cools.
				.tSystemFav
					p &#9825
			artile#system8.tSystem
				h4.tSystemName placehold system 8
				p.tSystemDesc
					| This system is really cools.
				.tSystemFav
					p &#9825
			artile#system9.tSystem
				h4.tSystemName placehold system 9
				p.tSystemDesc
					| This system is really cools.
				.tSystemFav
					p &#9825
			artile#system10.tSystem
				h4.tSystemName placehold system 10
				p.tSystemDesc
					| This system is really cools.
				.tSystemFav
					p &#9825
		#bottom.scrollButton
			i.fa.fa-chevron-up.fa-3x
	#main
		section#componentStats
			#statsDesc(style='display:none')
				h2#compName Component Preview
				ul#uniqueStats
					li Cores:
					li Clock Frequency:
					li Cache:
					li Overclockable: 
				#bottomRow
					h3#priceSpec.left Price: $XXXX.xx
					input.right#addComponent(type='button' value='Add')
					h3#wattageSpec.right Wattage: XXXXW
			img(id='componentImage' src='http://html5-demos.appspot.com/static/webcomponents/images/logos/webcomponents.png')
			#questionaire
				h2 What are you looking for?
				form(action='/require' method='GET')
					ul
						li
							h3 What will you use it for?
						li
							input(type='radio' id='gRadio' name='use' value='g')
							label(for='gRadio') Gaming
							input(type='radio' id='bRadio' name='use' value='b')
							label(for='bRadio') Basic Workstation
							input(type='radio' id='pRadio' name='use' value='p')
							label(for='pRadio') Powerful Workstation
						li
							h3 How much do you want to spend? (1: No Limit 5: Tight Budget)
						li
							input(type='radio' id='1Radio' name='budget' value='1')
							label(for='1Radio') 1
							input(type='radio' id='2Radio' name='budget' value='1')
							label(for='2Radio') 2
							input(type='radio' id='3Radio' name='budget' value='1')
							label(for='3Radio') 3
							input(type='radio' id='4Radio' name='budget' value='1')
							label(for='4Radio') 4
							input(type='radio' id='5Radio' name='budget' value='1')
							label(for='5Radio') 5
						li
							h3 Will you want to upgrade the system at a later date?
						li
							input(type='checkbox' name='upgrade' id='uCheck')
							label(for='uCheck')
						li
							h3 How much storage space will you need?
						li
							input(type='range' id='sSlider' value='1000' min='60' max='4000' step='10' onchange='printValue("sSlider", "sliVal")')
							input(type='text' id='sliVal' size='2')
							label(for='sliVal') GB
							input.right(type='submit' value='Submit' style='margin-right:40px;')
		section#componetBox
			table
				tr#comp1
					td.compIcon
						h3 Mobo
					td.compDesc
					td.compModi
						.triangle
							.circle
								span#1 &#215
				tr#comp2
					td.compIcon
						h3 CPU
					td.compDesc
					td.compModi
						.triangle
							.circle
								span#2 &#215
				tr#comp3
					td.compIcon
						h3 GPU
					td.compDesc
					td.compModi
						.triangle
							.circle
								span#3 &#215
				tr#comp4
					td.compIcon
						h3 RAM
					td.compDesc
					td.compModi
						.triangle
							.circle
								span#4 &#215
				tr#comp5
					td.compIcon
						h3 HDD
					td.compDesc
					td.compModi
						.triangle
							.circle
								span#5 &#215
				tr#comp6
					td.compIcon
						h3 PSU
					td.compDesc
					td.compModi
						.triangle
							.circle
								span#6 &#215
				tr#comp7
					td.compIcon
						h3 Case
					td.compDesc
					td.compModi
						.triangle
							.circle
								span#7 &#215
	section#infoPane
		table
			tr#light
				td
					input#systemName(type='text', name='systemName', placeholder='New Name')
			tr
				td#watt Wattage:
			tr#light
				td#price Price:
			tr
				td#prog Progress: 0/7
			tr#light
				td
					form(action='/data', method='get')
						input(type='submit' value='Submit >>>')
	script(type="text/javascript").
		function getSentComponents (){
			try {
				//If no data has been sent to client this will error
				var test = !{JSON.stringify(data)};

				if (test != null | test != undefined){
					var importedData = !{JSON.stringify(data)};
				}
			} catch(err) {
				console.log(err);
			}

			return importedData;
		}